@font-face {
	font-family: 'MyFont';
	src: url('assets/fonts/AntonSC-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html,
body {
	margin: 0;
	height: 100%;
	touch-action: none;
	overscroll-behavior: none;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('assets/images/star-background.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
}

#game-wrapper {
	overflow: hidden;
	z-index: 1;
	position: relative;
	border-radius: 8px;
}
